In [ ]:
# 載入套件
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
grouped = df['data1'].groupby(df['key1']) # 合併群組
grouped.mean()

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean() # 合併群組取平均
means.unstack()

In [ ]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

In [ ]:
df.groupby(['key1', 'key2']).size() # 個數

In [ ]:
df.groupby(['key1', 'key2'])
df

In [ ]:
for name, group in df.groupby('key1'):
    print(name) # key1 --> a, key1 --> b
    print(group)

In [ ]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2)) # 'key1', 'key2' --> ('a', 'one'), ...
    print(group)

In [ ]:
pieces = dict(list(df.groupby('key1')))
pieces['b']

In [ ]:
df.dtypes
grouped = df.groupby(df.dtypes, axis=1)

In [ ]:
for dtype, group in grouped:
    print(dtype) # dtype --> float64, object
    print(group)

In [ ]:
df.groupby(['key1', 'key2'])[['data2']].mean() # [column] --> ['data2']

In [ ]:
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped
s_grouped.mean()

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()
by_column.mean()

In [ ]:
map_series = pd.Series(mapping)
map_series
people.groupby(map_series, axis=1).count()

In [ ]:
people.groupby(len).sum() # index 長度

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

In [ ]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

In [ ]:
hier_df.groupby(level='cty', axis=1).count() # 照欄位名稱 cty 合併群組

In [ ]:
df

In [ ]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9) #  分位數合併

In [ ]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak) # aggregate 或 agg 進行聚合

In [26]:
tips = pd.read_csv('tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill'] # 添加一個新欄位
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [ ]:
grouped = tips.groupby(['day', 'smoker'])

In [30]:
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [31]:
grouped_pct.agg(['mean', 'std', peak_to_peak]) # 'std' 標準差

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [ ]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)]) # 欄位名稱

In [33]:
functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions) # 亦可傳入列表作為聚合條件參數

C:\Users\Max\AppData\Local\Temp\ipykernel_3796\724459561.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = grouped['tip_pct', 'total_bill'].agg(functions) # 亦可傳入列表作為聚合條件參數

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [ ]:
ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)]
grouped['tip_pct', 'total_bill'].agg(ftuples) # 命名同理

In [ ]:
grouped.agg({'tip' : np.max, 'size' : 'sum'}) # 指定條件
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'], 'size' : 'sum'}) # 可複選

In [ ]:
tips.groupby(['day', 'smoker'], as_index=False).mean() # as_index=False 不作為 index

In [41]:
def top(df, n=5, column='tip_pct'): # column='tip_pct' 預設參數
    return df.sort_values(by=column)[-n:] # 排序 .sort_values(by=欄位名稱)
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [ ]:
tips.groupby('smoker').apply(top) # .apply(func) 調用方法

In [ ]:
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill') # 傳入參數

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe() # 以 describe 的欄位合併 (count, mean, std...)
result.unstack('smoker')

In [ ]:
tips.groupby('smoker', group_keys=False).apply(top) # 不添加合併欄為索引 ('smoker')

In [50]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
quartiles = pd.cut(frame.data1, 4) # .cut做分段
quartiles[:10]

0     (-0.204, 1.678]
1    (-2.086, -0.204]
2     (-0.204, 1.678]
3     (-0.204, 1.678]
4    (-2.086, -0.204]
5     (-0.204, 1.678]
6     (-0.204, 1.678]
7    (-2.086, -0.204]
8    (-2.086, -0.204]
9     (-0.204, 1.678]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.976, -2.086] < (-2.086, -0.204] < (-0.204, 1.678] < (1.678, 3.56]]

In [51]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean()}
grouped = frame.data2.groupby(quartiles)
grouped.apply(get_stats).unstack()

                       min       max  count      mean
data1
(-3.976, -2.086] -1.879974  2.195255   14.0  0.120579
(-2.086, -0.204] -2.483044  2.991948  413.0 -0.010762
(-0.204, 1.678]  -3.061620  3.184898  530.0  0.013231
(1.678, 3.56]    -3.141421  1.847133   43.0  0.145316

In [52]:
# Return quantile numbers
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

            min       max  count      mean
data1
0     -2.394531  2.572240  100.0  0.038547
1     -2.072333  2.991948  100.0 -0.030943
2     -2.483044  1.587405  100.0 -0.067151
3     -2.178071  2.251369  100.0  0.033958
4     -2.845212  2.463251  100.0  0.078121
5     -3.061620  2.613377  100.0 -0.068554
6     -2.888637  2.810453  100.0  0.095020
7     -2.450934  3.184898  100.0  0.073610
8     -2.448883  2.331521  100.0 -0.165914
9     -3.141421  1.946399  100.0  0.118349