In [2]:
# 載入套件
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2) # 複製一次
# pd.unique(values) # 顯示不重複資料
pd.value_counts(values) # 個別計數

In [7]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [ ]:
dim.take(values)

### Categorical Type in pandas

In [10]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple      3  1.178346
1          1  orange     11  2.168235
2          2   apple      7  3.173874
3          3   apple     10  0.000366
4          4   apple      7  2.887147
5          5  orange      7  1.162166
6          6   apple      3  3.436507
7          7   apple      5  0.516894

In [ ]:
fruit_cat = df['fruit'].astype('category') # dtype: category
fruit_cat

In [ ]:
c = fruit_cat.values
type(c)

In [ ]:
c.categories # ['apple', 'orange']
# c.codes # [0, 1, 0, 0, 0, 1, 0, 0]

In [ ]:
df['fruit'] = df['fruit'].astype('category')
df.fruit

In [ ]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories # Categories (3, object): ['bar', 'baz', 'foo'] 不重複

In [ ]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories) # 對應關係

In [ ]:
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
ordered_cat # ['foo' < 'bar' < 'baz'] 0, 1, 2
my_cats_2.as_ordered() # 同上

In [21]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [22]:
draws = np.random.randn(1000)
draws[:5]

array([-1.1079474 , -0.89728934, -1.9055652 ,  0.4875969 , -0.43155133])

In [23]:
bins = pd.qcut(draws, 4)
bins

[(-3.354, -0.725], (-3.354, -0.725], (-3.354, -0.725], (-0.0259, 0.708], (-0.725, -0.0259], ..., (-3.354, -0.725], (0.708, 3.299], (0.708, 3.299], (-3.354, -0.725], (0.708, 3.299]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.354, -0.725] < (-0.725, -0.0259] < (-0.0259, 0.708] < (0.708, 3.299]]

In [25]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4']) # 添加標籤
bins.codes[:10] # 取碼

array([0, 0, 0, 2, 1, 3, 2, 3, 2, 1], dtype=int8)

In [26]:
bins = pd.Series(bins, name='quartile')
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
results

  quartile  count       min       max
0       Q1    250 -3.353135 -0.724870
1       Q2    250 -0.724704 -0.030853
2       Q3    250 -0.020995  0.708124
3       Q4    250  0.708895  3.298620

In [27]:
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [33]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))
categories = labels.astype('category')

In [29]:
categories = labels.astype('category')

In [ ]:
labels.memory_usage()
categories.memory_usage() # 更有效率

In [34]:
%time _ = labels.astype('category')

CPU times: total: 266 ms
Wall time: 275 ms

In [36]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')

In [ ]:
cat_s.cat.codes
cat_s.cat.categories

In [ ]:
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories) # (5, object): ['a', 'b', 'c', 'd', 'e']
cat_s2 # 原資料，多 object: e

In [ ]:
cat_s.value_counts()
cat_s2.value_counts()

In [ ]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
# cat_s3.cat.remove_unused_categories() # .remove_unused_categories() 可移除

In [ ]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

In [45]:
pd.get_dummies(cat_s) # 二元值

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

In [ ]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,
                   'value': np.arange(12.)})

In [ ]:
g = df.groupby('key').value
# g.mean()

In [ ]:
g.transform(lambda x: x.mean()) # .transform() 所有資料依照傳入條件轉換
g.transform('mean') # 同上
g.transform(lambda x: x * 2)
g.transform(lambda x: x.rank(ascending=False))

In [ ]:
g.transform('mean') # 同上

In [ ]:
g.transform(lambda x: x * 2)

In [ ]:
g.transform(lambda x: x.rank(ascending=False))

In [52]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [ ]:
# 標準化
g.transform(normalize)
g.apply(normalize)

In [ ]:
g.transform('mean')
normalized = (df['value'] - g.transform('mean')) / g.transform('std')
normalized

In [59]:
N = 15
times = pd.date_range('2017-05-20 00:00', freq='1min', periods=N)
df = pd.DataFrame({'time': times,
                   'value': np.arange(N)})

                  time  value
0  2017-05-20 00:00:00      0
1  2017-05-20 00:01:00      1
2  2017-05-20 00:02:00      2
3  2017-05-20 00:03:00      3
4  2017-05-20 00:04:00      4
5  2017-05-20 00:05:00      5
6  2017-05-20 00:06:00      6
7  2017-05-20 00:07:00      7
8  2017-05-20 00:08:00      8
9  2017-05-20 00:09:00      9
10 2017-05-20 00:10:00     10
11 2017-05-20 00:11:00     11
12 2017-05-20 00:12:00     12
13 2017-05-20 00:13:00     13
14 2017-05-20 00:14:00     14

In [ ]:
df.set_index('time').resample('5min').count()

In [ ]:
df2 = pd.DataFrame({'time': times.repeat(3),
                    'key': np.tile(['a', 'b', 'c'], N),
                    'value': np.arange(N * 3.)}) # .repeat(3) 重複三次; .tile(['a', 'b', 'c'], N) 'a', 'b', 'c' 重複n次
df2[:7]

In [67]:
# time_key = pd.TimeGrouper('5min') 書中這行無法使用，更改如下
resampled = df2.groupby(['key', pd.Grouper(key = 'time', freq = '5T')]).sum()
resampled

                         value
key time
a   2017-05-20 00:00:00   30.0
    2017-05-20 00:05:00  105.0
    2017-05-20 00:10:00  180.0
b   2017-05-20 00:00:00   35.0
    2017-05-20 00:05:00  110.0
    2017-05-20 00:10:00  185.0
c   2017-05-20 00:00:00   40.0
    2017-05-20 00:05:00  115.0
    2017-05-20 00:10:00  190.0