In [ ]:
# 載入套件
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [ ]:
df = pd.read_csv('ex1.csv') # 讀取 csv 檔案

In [ ]:
pd.read_table('ex1.csv', sep=',') # 讀取檔案，以逗號分隔

In [ ]:
pd.read_csv('ex2.csv', header=None) # 默認標題
pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message']) # 自訂標題

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ex2.csv', names=names, index_col='message') # 定義索引欄

In [ ]:
parsed = pd.read_csv('csv_mindex.csv', index_col=['key1', 'key2']) # 設置多級索引欄

In [10]:
result = pd.read_table('ex3.txt', sep='\s+') # 以空格分隔，'\s+' 一或多個空格

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
pd.read_csv('ex4.csv', skiprows=[0, 2, 3]) # 選擇略過的行數

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ex5.csv', na_values=sentinels) # na_values 設定空值

In [ ]:
pd.read_csv('ex6.csv', nrows=5) # 僅取部分資料
chunker = pd.read_csv('ex6.csv', chunksize=1000) # chunksize 分塊處理

In [17]:
tot = pd.Series([])
# 使用 for 處理分塊資料
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot[:10] # 前十多的 "key"

C:\Users\Max\AppData\Local\Temp\ipykernel_7600\2980072417.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = pd.Series([])

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [19]:
data = pd.read_csv('ex5.csv')
data.to_csv('out.csv') # 將資料寫進檔案中

In [ ]:
import sys
data.to_csv(sys.stdout, sep='|') # 定義分隔符
data.to_csv(sys.stdout, na_rep='NULL') # 空值 = NULL
data.to_csv(sys.stdout, index=False, header=False) # 去掉標題與索引
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c']) # 指定欄位

In [26]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('tseries.csv') # Series 寫入操作同

In [28]:
import csv
f = open('ex7.csv')
reader = csv.reader(f) # 另一種方法

In [ ]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

In [32]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [34]:
import json
result = json.loads(obj) # 讀取 json
asjson = json.dumps(result) # 轉換回 json

In [35]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [51]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url) # 讀取網址資料
resp

In [52]:
data = resp.json()
data[0]['title']

'BUG: Raise error when expr does not evaluate to bool in df.query '

In [53]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,46862,BUG: Raise error when expr does not evaluate t...,[],open
1,46861,CLN: assorted cleanups in cython,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
2,46860,BUG: Series.map is ignoring the na_action keyword,[],open
3,46859,ENH: Support multiple instances of styler object,"[{'id': 13101118, 'node_id': 'MDU6TGFiZWwxMzEw...",open
4,46858,convert_dtypes need support convert string wit...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
...,...,...,...,...
25,46830,stopped numeric_only=True from dropping columns,[],open
26,46829,added tests for the test_groupby_dropna.py,[],open
27,46828,ENH: ints_to_pytimedelta support non-nano,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
28,46826,BUG: Inconsistent return type for groupby-resa...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,46825,DOC: write guide for how to replace append,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open

In [54]:
import sqlite3
# database 相關操作
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [55]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [56]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [ ]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description]) # columns=['a', 'b', 'c', 'd']

In [58]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5