In [1]:
# 載入套件
import numpy as np
import pandas as pd
from numpy import nan as NA

In [ ]:
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna() # 刪除空值
data[data.notnull()] # 提取非空資料

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
# cleaned = data.dropna() # 刪除含有空值的行
data.dropna(how='all') # 刪除整行都是空值的資料

In [10]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df.dropna(thresh=2) # 有不少於 2 的非空值資料，該行保留

          0         1         2
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [ ]:
df.fillna(0) # 將空值替換為 0
df.fillna({1: 0.5, 2: 0}) # 或依條件指定資料填入
_ = df.fillna(0, inplace=True) # inplace=True 直接影響資料

In [16]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0 -0.503087 -0.622274 -0.921169
1 -0.726213  0.222896  0.051316
2 -1.157719       NaN  0.433610
3  1.010737       NaN -0.997518
4  0.850591       NaN       NaN
5  0.188211       NaN       NaN

In [ ]:
df.fillna(method='ffill') # 以前一筆資料填入
df.fillna(method='ffill', limit=2) # limit=2 上限兩筆
data.fillna(data.mean()) # 以平均值填入

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data.duplicated() # 檢查重複，返回boolean
data.drop_duplicates()

In [ ]:
data['v1'] = range(7)
data.drop_duplicates(['k1']) # 指定欄
data.drop_duplicates(['k1', 'k2'], keep='last') # keep='last' 保留最後一筆的重複資料

In [26]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
lowercased = data['food'].str.lower() # 轉換為小寫

In [30]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}
data['animal'] = lowercased.map(meat_to_animal) # 根據字典添加資料
data['food'].map(lambda x: meat_to_animal[x.lower()])

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data.replace(-999, np.nan) # 替換資料
data.replace([-999, -1000], [np.nan, 0])
data.replace({-999: np.nan, -1000: 0})

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

transform = lambda x: x[:4].upper() # 取前四字大寫
data.index.map(transform)
data.index = data.index.map(transform)
data.rename(index=str.title, columns=str.upper) # str.title: Xxxx

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

data.rename(index={'OHIO': 'INDIANA'}, inplace=True)

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins) # 分隔出各區間，right=False 右區間為開區間

In [ ]:
cats.codes # 在第幾個區間
cats.categories # 列出區間
pd.value_counts(cats) # 根據區間計數

In [ ]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names) # 添加標籤

In [ ]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2) # precision 小數精度
data = np.random.randn(1000)
cats = pd.qcut(data, 4)  # 4 分位距
pd.value_counts(cats)

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()
col = data[2]
col[np.abs(col) > 3] # 選取絕對值大於 3 的資料
data[(np.abs(data) > 3).any(1)]

In [55]:
data[np.abs(data) > 3] = np.sign(data) * 3
np.sign(data).head()

     0    1    2    3
0  1.0 -1.0 -1.0 -1.0
1 -1.0  1.0  1.0 -1.0
2  1.0  1.0 -1.0 -1.0
3 -1.0 -1.0 -1.0  1.0
4  1.0 -1.0 -1.0 -1.0

In [60]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
sampler = np.random.permutation(5) # .permutation() 亂序

In [61]:
df.take(sampler) # 行序
df.sample(n=3) # 取樣三行

    0   1   2   3
3  12  13  14  15
2   8   9  10  11
0   0   1   2   3
4  16  17  18  19
1   4   5   6   7

In [70]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

3    6
4    4
2   -1
1    7
4    4
3    6
4    4
4    4
0    5
3    6
dtype: int64

In [77]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

pd.get_dummies(df['key']) # 二元值

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [ ]:
dummies = pd.get_dummies(df['key'], prefix='key') # 加前綴
df_with_dummy = df[['data1']].join(dummies)

In [79]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('movies.dat', sep='::',
                       header=None, names=mnames)
movies[:10]

C:\Users\Max\AppData\Local\Temp\ipykernel_6028\1820405689.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('movies.dat', sep='::',

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [ ]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres) # 列出不重複的類別
genres

In [ ]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies

In [ ]:
gen = movies.genres[0]
gen.split('|') # Animation|Children's|Comedy
dummies.columns.get_indexer(gen.split('|'))

In [89]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [90]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                      1
title                          Toy Story (1995)
genres              Animation|Children's|Comedy
Genre_Animation                             1.0
Genre_Children's                            1.0
                               ...
Genre_War                                   0.0
Genre_Musical                               0.0
Genre_Mystery                               0.0
Genre_Film-Noir                             0.0
Genre_Western                               0.0
Name: 0, Length: 21, dtype: object

In [91]:
val = 'a,b,  guido'
val.split(',') # 字串依分隔符分隔

['a', 'b', '  guido']

In [94]:
pieces = [x.strip() for x in val.split(',')]
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [ ]:
import re
text = "foo    bar\t baz  \tqux"
re.split('\s+', text) # 空格分隔
# 同下
regex = re.compile('\s+')
regex.split(text)
regex.findall(text)

In [100]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [102]:
m = regex.search(text)
# text[m.start():m.end()]

In [ ]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data.isnull()

In [109]:
data.str.contains('gmail')
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [dave@google.com]
Steve    [steve@gmail.com]
Rob        [rob@gmail.com]
Wes                    NaN
dtype: object

In [110]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [113]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object